.App {
  background-color: #ffffffea;
  width: 100vw;
  height: 100vh;
}

.search-bar-container {
  width: 30%;
  padding-top: 50px;
  padding-left: 220px;
  display: flex;
  align-items: center;
  min-width: 570px;
}

.p-3{
  align-items: center;
  border-bottom: 2px solid #1c1c1c;
  max-height: 8%;
}

p{
  font-family: Inter;
}

.get_started_card{
  background: #00af8c;
  height: 250px;
  width:1070px;
  border-radius: 15px;
}

.Row{
  width: 1070px;
  height: 60px;
  padding: 5px;
  border: none;
}

.cards{
  border: none;
}